h1 {
    color: rgb(19, 9, 36); /*properties: property value*/
    font-size: 100px; /*properties: property value*/
    background:  rgb(51, 152, 170) /*properties: property value*/
}

body {
    height: 100vh;
    margin: 10px;
}

* {margin: 0;}

/* header {
    height: 100px;
    border: 7px dashed red;
    padding: 16px;
   
} */

* {margin: 0;}
main { /*poderia ter feito shorhand= tudo na mesma linha*/
    color: whitesmoke;
    padding: 85px;
    background-color: rgb(55, 100, 50);
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: scroll;
    border: double;


    background: linear-gradient(200deg, rgb(5, 50, 58), rgb(65, 105, 225), rgb(5, 50, 58) );
}
h3 {
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}
        
.pagination {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
}
        
.pagination li {
    margin: 3px 3px;
}

img {
    background-position: top 50px;  
    
}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:16px;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .smallfont{font-size:.8em; margin:0;}

#footer input, #footer button{border:none; border-radius:5px;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:6px 12px; font-weight:bold; text-transform:uppercase; cursor:pointer;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


img, footer {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    text-justify: inter-word;
}

